*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #121212;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 1.6; }

body::after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 600px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg); }

body::before {
  position: fixed;
  top: 500px;
  left: -100px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); }

.container {
  display: grid;
  grid-template-rows: 12rem calc(100vh - 12rem);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [grid-col-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [grid-col-end] minmax(4rem, 1fr) [full-end]; }
  .container > * {
    padding: 3rem;
    font-size: 3rem; }

.header {
  background-color: aquamarine;
  grid-column: grid-col-start / grid-col-end;
  grid-row: 1 / 2; }

.hero-section {
  background-color: orangered;
  grid-column: grid-col-start / grid-col-end;
  grid-row: 2 / 3; }

.about__picture {
  background-color: crimson;
  grid-column: grid-col-start / col-end 5; }

.about__content {
  background-color: darkcyan;
  grid-column: col-start 6 / col-end 12; }

.services {
  background-color: forestgreen;
  grid-column: grid-col-start / grid-col-end; }

.portfolio {
  background-color: deeppink;
  grid-column: grid-col-start / grid-col-end; }

.footer {
  background-color: burlywood;
  grid-column: grid-col-start / grid-col-end; }
