*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #121212;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 1.6; }
