*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #121212;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 1.6; }

body::after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 600px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg); }

body::before {
  position: fixed;
  top: 500px;
  left: -100px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); }

.container {
  display: grid;
  grid-template-rows: 10rem calc(100vh - 10rem);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [grid-col-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [grid-col-end] minmax(4rem, 1fr) [full-end]; }

.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem; }

.heading-2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.2rem; }

.heading-3 {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.2rem; }

.heading-4 {
  font-size: 2.1rem;
  color: #fff;
  font-weight: 400; }

.bold-heading {
  font-size: 13vw;
  line-height: 0.4;
  color: rgba(255, 255, 255, 0.08);
  letter-spacing: 0.6rem; }

.title-paragraph {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px; }

.detail-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px; }

.cta,
.cta:visited,
.cta:link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  display: inline-block;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #2f89fc 50%);
  background-size: 250%;
  transition: all 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .cta span,
  .cta:visited span,
  .cta:link span {
    text-decoration: underline; }

.cta:hover,
.cta:active {
  background-position: 100%;
  color: #121212;
  transform: translateX(1rem); }

.secondary-text {
  color: #2f89fc;
  font-weight: 400; }

.header {
  grid-column: grid-col-start / grid-col-end;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }
  .header__logo-box {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__logo {
    max-width: 250px;
    height: auto; }
  .header__navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 2rem;
    right: 8.5vw; }
    .header__navigation--button {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      z-index: 1000000;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s; }
    .header__navigation--button:hover .header__navigation--icon {
      transform: translateY(-0.2rem) scale(1.05); }
    .header__navigation--background {
      z-index: 5;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      height: 6.5rem;
      width: 6.5rem;
      border-radius: 50%;
      background-color: #121212;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
      transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1); }
    .header__navigation--icon {
      position: relative;
      margin-top: 1.7rem; }
      .header__navigation--icon, .header__navigation--icon::before, .header__navigation--icon::after {
        width: 4rem;
        height: 2px;
        background-color: #fff;
        display: inline-block;
        transition: all 0.2s; }
      .header__navigation--icon::before, .header__navigation--icon::after {
        position: absolute;
        content: "";
        left: 0; }
      .header__navigation--icon::after {
        top: 0.7rem; }
      .header__navigation--icon::before {
        top: -0.7rem; }
  .header__nav {
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 222;
    transition: all 0.8s; }
    .header__nav::after {
      position: fixed;
      top: -150px;
      right: -50px;
      bottom: 0;
      content: "";
      width: 400px;
      height: 600px;
      border: 2px solid rgba(255, 255, 255, 0.05);
      z-index: -1;
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    .header__nav::before {
      position: fixed;
      top: 500px;
      left: -100px;
      bottom: 0;
      content: "";
      width: 400px;
      height: 400px;
      border: 2px solid rgba(255, 255, 255, 0.05);
      z-index: -1;
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      transform: rotate(20deg); }
  .header__nav-list {
    list-style: none;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.3s;
    transform: translateY(50rem);
    opacity: 0; }
  .header__nav-item {
    margin: 2rem; }
  .header__nav-link:link, .header__nav-link:visited {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    color: #8c8c8c;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #2f89fc 50%);
    background-size: 250%;
    transition: all 0.4s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .header__nav-link:hover, .header__nav-link:active {
    background-position: 100%;
    color: #121212;
    transform: translateX(1rem); }

.active-nav {
  opacity: 1;
  visibility: visible; }

.active-bg {
  transform: scale(95); }

.active-nav-list {
  transform: translateY(0);
  opacity: 1; }

.icon-toggle {
  background-color: transparent; }
  .icon-toggle::after {
    top: 0;
    transform: rotate(135deg); }
  .icon-toggle::before {
    top: 0;
    transform: rotate(-135deg); }

.hero-section {
  grid-column: grid-col-start / grid-col-end;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero-section__heading {
    margin: 1rem 0; }

.about__picture {
  grid-column: grid-col-start / col-end 5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .about__picture--img {
    display: block;
    width: auto;
    height: 567px;
    filter: grayscale(3);
    z-index: -1; }

.about__content {
  grid-column: col-start 6 / col-end 12;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center; }
  .about__content--heading {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: start; }
  .about__content--detail {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: start;
    align-self: start;
    padding: 3rem 7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, min-content);
    grid-gap: 5rem; }
  .about__content--social-icons {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .about__content--icon-item {
    display: inline-block;
    margin-right: 2rem; }
  .about__content--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08); }
    .about__content--link:hover .about__content--icon {
      fill: #fff; }
  .about__content--icon {
    height: 2rem;
    width: 2rem;
    fill: #2f89fc;
    transition: all 0.2s; }
  .about__content--contact-detail {
    margin-top: -3rem; }

.services {
  grid-column: grid-col-start / grid-col-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 12rem;
  margin: 15rem 0; }
  .services__heading-1 {
    font-size: 10vw;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2; }
  .services__heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
    align-self: end;
    line-height: 1; }
  .services__cards {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem; }
  .services__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center; }
    .services__card__heading {
      margin-bottom: 5rem; }
  .services__icon {
    margin-bottom: 2rem;
    fill: #2f89fc;
    height: 5.5rem;
    width: 5.5rem; }

.card__heading {
  margin-bottom: 0.8rem; }

.portfolio {
  background-color: deeppink;
  grid-column: grid-col-start / grid-col-end; }

.footer {
  background-color: burlywood;
  grid-column: grid-col-start / grid-col-end; }
