.about {
  &__picture {
    grid-column: grid-col-start / col-end 5;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 80%;

    @media only screen and (max-width: $bp-medium) {
      grid-column: grid-col-start / grid-col-end;
      width: 100%;
    }

    &--img {
      display: block;
      max-width: 90%;
      filter: grayscale(3);
      z-index: -1;
      transition: all 0.25s ease-out;

      @media only screen and (max-width: $bp-large) {
        max-width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
      }

      @media only screen and (max-width: $bp-medium) {
        max-width: 85%;
        display: flex;
        justify-content: center;
        z-index: 1;
      }
      @media only screen and (max-width: $bp-small) {
        max-width: 95%;
        transition: none;
      }
    }
  }

  &__content {
    grid-column: col-start 6 / col-end 12;

    @media only screen and (max-width: $bp-medium) {
      grid-column: col-start 2 / col-end 11;
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-column: full-start / full-end;
    }

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      justify-self: start;
      align-self: start;

      @media only screen and (max-width: $bp-large) {
        font-size: 12rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 0;
        font-size: 10rem;
      }
    }

    &--detail {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      padding: 0rem 5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2.3rem;
      margin-top: -5.1rem;

      @media only screen and (max-width: $bp-medium) {
        padding: 0 7rem;
        margin-top: -4rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 0 3rem;
        margin-top: -3.5rem;
      }
    }

    &--icon-item {
      margin-right: 2rem;
    }

    &--link {
      width: 4.5rem;
      height: 4.5rem;
      background-color: $dull-dark-2;

      &:hover .about__content--icon {
        fill: $color-light;
      }
    }

    &--icon {
      height: 2rem;
      width: 2rem;
      fill: $color-secondary;
    }
  }
}
