.footer {
  grid-column: grid-col-start / grid-col-end;
  padding: 6rem 0;
  text-align: center;

  &__text {
    text-align: center;
    font-size: 1.5rem;
  }

  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
  }
}
