// BUTTON
.btn-primary {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-secondary 50%
  );
  background-size: 250%;
  transition: all 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &:hover,
  &:active {
    color: $bg-color;
    background-position: 100%;
    transform: translateX(1rem);
  }
}

// SOCIAL ICONS
.social-icons {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__icon-item {
    display: inline-block;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__icon {
    transition: all 0.2s;
  }
}

// LAYOUT MARGINS
.about__content,
.about__picture,
.services,
.portfolio {
  padding-bottom: 20rem;
}

.about__picture {
  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 5rem;
  }
}

//////// Progress Bar

/* Style the header: fixed position (always stay at the top) */
.header1 {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: $bg-color;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: $color-secondary;
  width: 0%;
  transition: all 0.5s ease-in-out;
}
