.portfolio {
  overflow: hidden;

  grid-column: grid-col-start / grid-col-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 16rem;
  padding-top: 5rem;

  &__heading-1 {
    letter-spacing: 0rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    text-align: center;
  }

  &__heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: end;
    padding: 0.35rem 1.7rem;
    display: block;
    backface-visibility: hidden;
  }
}

.portfolio-blocks {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
}

.portfolio-block {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column !important;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &__img-box {
    width: 38%;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
    transition: all 0.25s ease-out;
    transform: translateY(200px);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $bg-color;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      opacity: 0.6;
    }

    &:hover .portfolio-block__img {
      transform: scale(1.05);
    }

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
      height: 300px;
      transform: none;
    }

    @media only screen and (max-width: $bp-small) {
      transition: none;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 0.3s ease-in;
    backface-visibility: hidden;
    grid-row: 1 /-1;
    grid-column: 1 /-1;
  }

  &__details-box {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 7%;

    @media only screen and (max-width: $bp-medium) {
      padding: 8% 4%;
      width: 90%;
      height: auto;
    }

    &__heading {
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 2.5rem;
      margin-top: 0.8rem;
    }

    &__paragraph {
      margin-bottom: 2.5rem;
    }
  }

  &__view-project,
  &__view-project:link,
  &__view-project:visited {
    color: $color-secondary;
    font-size: 1.75rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    transform: translateX(-1rem);
  }

  &__view-project:hover,
  &__view-project:active {
    color: $bg-color;
  }

  &__stack-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;

    p {
      font-size: 1.6rem;
    }
  }

  &__icon-item:not(:last-child) {
    margin-right: 1rem;
  }

  &--icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
