.services {
  // background-color: forestgreen;
  grid-column: grid-col-start / grid-col-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 16rem;
  align-content: center;
  height: 100vh;

  &__heading-1 {
    letter-spacing: 0rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    text-align: center;
  }

  &__heading-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    text-align: center;
    justify-self: center;
    align-self: end;
    padding: 0.35rem 1.7rem;
    display: inline-block;

    backface-visibility: hidden;
  }

  &__cards {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    // background-color: aqua;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    &__heading {
      margin-bottom: 5rem;
    }
  }

  &__icon {
    margin-bottom: 2rem;
    fill: $color-secondary;
    height: 5.5rem;
    width: 5.5rem;
  }
}

.card__heading {
  margin-bottom: 0.8rem;
}
