.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.heading-2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: $color-light;
  letter-spacing: 0.2rem;
}

.heading-3 {
  font-size: 2.6rem;
  color: $color-light;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.heading-4 {
  font-size: 2.1rem;
  color: $color-light;
  font-weight: 400;
}

.heading-5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.bold-heading {
  font-size: 13vw;
  line-height: 0.7;
  color: $dull-dark-2;
  letter-spacing: 0.6rem;
}

.title-paragraph {
  color: $dull-dark;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

.detail-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.3px;
}

.secondary-text {
  color: $color-secondary;
  font-weight: 400;
}
