.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: $color-light;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.heading-2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: $color-light;
  letter-spacing: 0.2rem;
}

.heading-3 {
  font-size: 2.6rem;
  color: $color-light;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.heading-4 {
  font-size: 2.1rem;
  color: $color-light;
  font-weight: 400;
}

.bold-heading {
  font-size: 13vw;
  line-height: 0.4;
  color: $dull-dark-2;
  letter-spacing: 0.6rem;
}

.title-paragraph {
  color: $dull-dark;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

.detail-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.cta,
.cta:visited,
.cta:link {
  // margin-top: 1.7rem;
  color: $dull-dark;
  font-size: 1.6rem;
  // line-height: 1.7rem;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;

  display: inline-block;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-secondary 50%
  );
  background-size: 250%;
  transition: all 0.4s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  span {
    text-decoration: underline;
  }
}

.cta:hover,
.cta:active {
  background-position: 100%;
  color: $bg-color;
  transform: translateX(1rem);
}

.secondary-text {
  color: $color-secondary;
  font-weight: 400;
}
